/* @media screen and (min-width:1920px) {
    .navbar {
        display: flex;
        flex-direction: column;
        width: 335px;
        border-right: 1px solid gray;
    }
} */

    html {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    body {
        margin: 0;
        display: flex;
        flex: 1;
        font-family:'Pretendard-Regular';
    }

    .header {
        display: none;
    }

    /* navbar 부분 시작 */
    .navbar {
        position: fixed;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 80px;
        border-right: 1px solid gray;
        align-items: center;

    }

    .navbar_top {
        
        height: 48px;
        line-height: 73px;
        margin: 30px 30px;
        
        content: url(/img/icon_Insta.png);
    }

    .navbar_contents {
        height: 100%;
    }


    .navbar_contents_item {
        height: 48px;
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items:center;
    }
    .navbar_contents_item_text{
        margin-left: 20px;
        display: none;
    }
  

    .navbar_bottom {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
      

    }
    .navbar_bottom_item{
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
    }
    .navbar_bottom_item_text{
        display: none;
    }

    .bottom_seemore,
    .bottom_threads {
        height: 48px;
    }




    /* main 부분 시작 */
    main {
        display: flex;
        padding-left: 100px;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .mid {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 400px;

    }

    /* 인스타 스토리(storyfeed) 부분 시작 */
    .storyfeed {
        display: flex;
        gap: 12px;
        margin: 30px 0px 0px 60px;
        height: 101px;
    }

    .storyfeed_item {
        display: flex;
        flex-direction: column;
        width: 66px;
    }

    .storyfeed_item_profile {
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .storyfeed_item_profile>img {
        height: 66px;
        margin: auto;
        display: block;
    }

    .storyfeed_item_nickname {
        text-align: center;
        margin-top: 2px;
    }




    /* 인스타 게시글(postcard) 부분 시작 */
    .postcards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .postcard {
        margin-bottom: 10px;
        width: 470px;
        min-height: 693px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
    
    }




/* 게시글(postcard) 윗 부분 */
.postcard_top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1rem;
}

.postcard_top_right {
    display: flex;
    align-items: center;
}

.postcard_top_profile {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.postcard_top_profile>img {
    height: 32px;
    margin: auto;
}


.postcard_top_nickname {
    height: 1rem;
    margin-left: 10px;
}

.postcard_top_timelog {
    color: gray;
    font-size: 0.8rem;
    margin-left: 5px;
}


/* 게시글(postcard) 사진 부분 */
.postcard_content {
    position: relative;
    height: 468px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}
.postcard_slide {
    height: 468px;
    position: relative;
    display: flex;
    flex-shrink: 0;
}
.postcard_slide>img {
    min-width: 470px;
    
}
/* 버튼*/
.btn-next,
.btn-next:active,
.btn-next:focus {
  position: absolute;
  padding: 2px 8px 7px 10px;
  background-color: #FFDC80;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 100%;
}
.btn-prev,
.btn-prev:active,
.btn-prev:focus {
  position: absolute;
  padding: 2px 10px 7px 8px;
  background-color: #FFDC80;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
}
.btn-next:disabled,
.btn-prev:disabled {
  background-color: lightgray;
}
.btn-next:hover,
.btn-prev:hover {
  cursor: pointer;
  background-color: white;
  color: #FFDC80;
  transition: 0.7s ease-out;
}
.btn-prev {
  left: 18px;
  top: 50%;
}
.btn-next {
  right: 18px;
  top: 50%;
}

/* 게시글(postcard) 아래 부분 */


.postcard_bottom_icons {
    display: flex;
    justify-content: space-between;
}

.postcard_bottom_icons_left {
    display: flex;
    justify-content: space-between;
}


.postcard_bottom_icons_left_box,
.postcard_bottom_icons_right {
    position: relative;
    right: 8px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
}

.postcard_bottom_icons_right {
    left: 8px;
}


.postcard_bottom_icons_left_box>img,
.postcard_bottom_icons_right>img {
    width: 28px;
    height: 28px;
}

.postcard_bottom_favorite-count {
    line-height: 17px;
    font-weight: bold;
}

.postcard_bottom_writing {
    display: inline-block;
    margin-top: 5px;
    height: 36px;

}

.postcard_bottom_writing_nickname {
    display: inline-block;
    font-weight: bold;
}


.postcard_bottom_seecomment {
    margin-top: 8px;
    color: gray;
}

.postcard_bottom_writecomment {
    margin-top: 8px;
    border: none;
}



    /*추천영역 시작 */
    .recommandbar {
        display: none;
        margin-top: 30px;
        width: 335px;


    }
   .footer {
    display: none;
   }
