/* @media screen and (min-width:1264px) {
@media screen and (min-width: 400px) and (max-width: 700px){ 
*/
    html {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    body {
        margin: 0;
        display: flex;
        flex: 1;
        font-family:'Pretendard-Regular';
    }
    
    /* figure 3-1. header 부분 시작 */
    .navbar{
        display: none;
    }
    .mid{
        margin-top: 15px;
    }

    
    header{
        position: fixed;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        width: 120%;
        padding-top: 10px;
        margin-left: 100px;
        margin-right: 30%;
        background-color: white;
    }
    .header_left_title{
        float: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .header_logo{
        width: 25%;
        height: 5%;
    }
    .header_right{
        float: right;
        display: flex;
        margin-right: 100px;
    }
    .header_right_search_text{
        float: right;
        top: 50%;
        bottom: 50%;
        left : 10%;
        border-width: 0;
        width: 120px;
        height: 5%;
        text-align: left;
        background-color: lightgrey;
        border-radius: 5px;
    }

    /* navbar 부분 시작 */
    .navbar {
        display: flex;
        flex-direction: column;
        min-width: 80px;
        border-right: 1px solid gray;
        align-items: center;

    }

    .navbar_top {
        
        height: 48px;
        line-height: 73px;
        margin: 30px 30px;
        
        content: url(/img/icon_Insta.png);
    }

    .navbar_contents {
        height: 100%;
    }


    .navbar_contents_item {
        height: 48px;
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items:center;
    }
    .navbar_contents_item_text{
        margin-left: 20px;
        display: none;
    }
  

    .navbar_bottom {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
      

    }
    .navbar_bottom_item{
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
    }
    .navbar_bottom_item_text{
        display: none;
    }

    .bottom_seemore,
    .bottom_threads {
        height: 48px;
    }




    /* main 부분 시작 */
    main {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .mid {
        display: flex;
        flex-direction: column;
        width: 630px;

    }

    /* 인스타 스토리(storyfeed) 부분 시작 */
    .storyfeed {
        display: flex;
        gap: 12px;
        margin: 30px 0px 0px 30px;
        height: 101px;
    }

    .storyfeed_item {
        display: flex;
        flex-direction: column;
        width: 66px;
    }

    .storyfeed_item_profile {
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .storyfeed_item_profile>img {
        height: 66px;
        margin: auto;
        display: block;
    }

    .storyfeed_item_nickname {
        text-align: center;
        margin-top: 2px;
    }




    /* 인스타 게시글(postcard) 부분 시작 */
    .postcards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .postcard {
        width: 470px;
        height: 693px;
        border-bottom: 1px solid gray;
    }



    /* 게시글(postcard) 윗 부분 */
    .postcard_top {
        display: flex;
        align-items: center;
        padding: 6px;
    }

    .postcard_top_profile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .postcard_top_nickname {
        margin-left: 5px;
    }

    .postcard_top_timelog {
        margin-left: 5px;
    }


    /* 게시글(postcard) 사진 부분 */
    .postcard_content {
        position: relative;
        height: 468px;
        border: 1px solid gray;
        border-radius: 5px;
        overflow: hidden;
    }
    .postcard_slide {
        height: 468px;
        position: relative;
        display: flex;
        flex-shrink: 0;
    }
    .postcard_slide>img {
        min-width: 550px;

    }
    /* 버튼*/
    .btn-next,
    .btn-next:active,
    .btn-next:focus {
    position: absolute;
    padding: 2px 8px 7px 10px;
    background-color: #FFDC80;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 100%;
    }
    .btn-prev,
    .btn-prev:active,
    .btn-prev:focus {
    position: absolute;
    padding: 2px 10px 7px 8px;
    background-color: #FFDC80;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 100%;
    text-align: center;
    }
    .btn-next:disabled,
    .btn-prev:disabled {
    background-color: lightgray;
    }
    .btn-next:hover,
    .btn-prev:hover {
    cursor: pointer;
    background-color: white;
    color: #FFDC80;
    transition: 0.7s ease-out;
    }
    .btn-prev {
    left: 18px;
    top: 50%;
    }
    .btn-next {
    right: 18px;
    top: 50%;
    }



    /* 게시글(postcard) 아래 부분 */
    .postcard_bottom_icons {
        display: flex;
        justify-content: space-between;
    }

    .postcard_bottom_writing {
        height: 36px;
    }

    .postcard_bottom_writing_nickname {
        display: inline-block;
    }


    /* @media screen and (min-width: 300px) and (max-width: 700px){ */
        /* .footer{
            display: block;
        } */
        /* figure 3-2. 하단 footer(navbar) 부분 시작 */
    .footer{
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 130%;
        padding-top : 10px;
        min-width: 80px;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        border-top: 1px solid gray;
    }
    .footer_contents {
        width: 100%;
        border-width: 0;
        color: transparent;
        display: flex;
        align-items: center;
    }


    .footer_contents_item {
        height: 48px;
        margin: 20px 20px 20px 20px;
        align-items:center;
    }

    .navbar{
        display: none;
    }

    .mid{
        padding-bottom: 10px;            
    }




    /*추천영역 시작 */
    .recommandbar {
        display: none;
        margin-top: 30px;
        width: 335px;
    }
}