/* @media screen and (min-width:1920px) {
    .navbar {
        display: flex;
        flex-direction: column;
        width: 335px;
        border-right: 1px solid gray;
    }
} */


@media screen and (min-width:1264px) {

    html {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    body {
        margin: 0;
        display: flex;
        flex: 1;
    }

    .header {
        display: none;
    }

    /* navbar 부분 시작 */
    .navbar {
        display: flex;
        flex-direction: column;
        width: 240px;
        border-right: 1px solid gray;
    }

    .navbar_top {
        height: 73px;
        line-height: 73px;
    }

    .navbar_contents {
        height: 100%;
    }


    .navbar_contents_item {
        height: 48px;

    }

    .navbar_bottom {
        display: flex;
        flex-direction: column;
    }

    .bottom_seemore,
    .bottom_threads {
        height: 48px;
    }




    /* main 부분 시작 */
    main {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .mid {
        display: flex;
        flex-direction: column;
        width: 630px;

    }

    /* 인스타 스토리(storyfeed) 부분 시작 */
    .storyfeed {
        display: flex;
        gap: 12px;

        height: 101px;
    }

    .storyfeed_item {
        display: flex;
        flex-direction: column;
        width: 66px;
    }

    .storyfeed_item_profile {
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .storyfeed_item_profile>img {
        height: 66px;
    }

    .storyfeed_item_nickname {
        text-align: center;
        margin-top: 2px;
    }




    /* 인스타 게시글(postcard) 부분 시작 */
    .postcards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .postcard {
        width: 470px;
        height: 693px;
        border-bottom: 1px solid gray;
    }



    /* 게시글(postcard) 윗 부분 */
    .postcard_top {
        display: flex;
        align-items: center;
        padding: 6px;
    }

    .postcard_top_profile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .postcard_top_nickname {
        margin-left: 5px;
    }

    .postcard_top_timelog {
        margin-left: 5px;
    }


    /* 게시글(postcard) 사진 부분 */
    .postcard_content {
        height: 468px;
    }

    .postcard_content>img {
        width: 100%;
    }



    /* 게시글(postcard) 아래 부분 */
    .postcard_bottom_icons {
        display: flex;
        justify-content: space-between;
    }

    .postcard_bottom_writing {
        height: 36px;
    }

    .postcard_bottom_writing_nickname {
        display: inline-block;
    }




    /*추천영역 시작 */
    .recommandbar {
        width: 335px;


    }
}