/* @media screen and (min-width:1920px) {
    .navbar {
        display: flex;
        flex-direction: column;
        width: 335px;
        border-right: 1px solid gray;
    }
} */




    html {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    body {
        margin: 0;
        display: flex;
        flex: 1;
        font-family:'Pretendard-Regular';
    }

    .header {
        display: none;
    }

    /* navbar 부분 시작 */
    .navbar {
        display: flex;
        flex-direction: column;
        width: 240px;
        border-right: 1px solid gray;
        align-items: center;
    }

    .navbar_top {
        height: 73px;
        line-height: 73px;
        margin-top: 30px;
        font-size:30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .navbar_contents {
        height: 100%;
    }


    .navbar_contents_item {
        height: 48px;
        margin: 10px 10px 10px 0px;
        display: flex;
        align-items: center;
    }
    .navbar_contents_item_text{
        margin-left: 20px;
    }
  

    .navbar_bottom {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
      

    }
    .navbar_bottom_item{
        margin: 10px 10px 10px 0px;
        display: flex;
        align-items: center;
    }

    .bottom_seemore,
    .bottom_threads {
        height: 48px;
    }




    /* main 부분 시작 */
    main {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .mid {
        display: flex;
        flex-direction: column;
        width: 630px;

    }

    /* 인스타 스토리(storyfeed) 부분 시작 */
    .storyfeed {
        display: flex;
        gap: 12px;
        margin-top: 30px;
        height: 101px;
    }

    .storyfeed_item {
        display: flex;
        flex-direction: column;
        width: 66px;
    }

    .storyfeed_item_profile {
        height: 66px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
    }

    .storyfeed_item_profile>img {
        height: 66px;
        margin: auto;
        display: block;
    }

    .storyfeed_item_nickname {
        text-align: center;
        margin-top: 2px;
    }



/* 인스타 게시글(postcard) 부분 시작 */
.postcards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postcard {
    margin-bottom: 10px;
    width: 470px;
    min-height: 693px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;

}



/* 게시글(postcard) 윗 부분 */
.postcard_top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1rem;
}

.postcard_top_right {
    display: flex;
    align-items: center;
}

.postcard_top_profile {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.postcard_top_profile>img {
    height: 32px;
    margin: auto;
}


.postcard_top_nickname {
    height: 1rem;
    margin-left: 10px;
}

.postcard_top_timelog {
    color: gray;
    font-size: 0.8rem;
    margin-left: 5px;
}


/* 게시글(postcard) 사진 부분 */
.postcard_content {
    height: 468px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

.postcard_content>img {
    width: 100%;

}



/* 게시글(postcard) 아래 부분 */


.postcard_bottom_icons {
    display: flex;
    justify-content: space-between;
}

.postcard_bottom_icons_left {
    display: flex;
    justify-content: space-between;
}


.postcard_bottom_icons_left_box,
.postcard_bottom_icons_right {
    position: relative;
    right: 8px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
}

.postcard_bottom_icons_right {
    left: 8px;
}


.postcard_bottom_icons_left_box>img,
.postcard_bottom_icons_right>img {
    width: 28px;
    height: 28px;
}

.postcard_bottom_favorite-count {
    line-height: 17px;
    font-weight: bold;
}

.postcard_bottom_writing {
    display: inline-block;
    margin-top: 5px;
    height: 36px;

}

.postcard_bottom_writing_nickname {
    display: inline-block;
    font-weight: bold;
}


.postcard_bottom_seecomment {
    margin-top: 8px;
    color: gray;
}

.postcard_bottom_writecomment {
    margin-top: 8px;
    border: none;
}





    /*추천영역 시작 */
    .recommandbar {
        margin-top: 30px;
        width: 335px;


    }
